@import url('https://fonts.googleapis.com/css?family=Open+Sans|Satisfy');

body {
  cursor: default;
  overflow-x: hidden;
}

/*// Navigation & Header //*/

header {
  position: relative;
  height: 30em;
}

/*// Nav Styling For Mobile //*/

@media only screen and (max-width: 640px) {

  #logo-container {
    display: block;
    margin-top: 0.5em;
    margin-left: 1.5em;
    margin-right: 0em;
  }

  header nav>ul {
    display: block;
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 1em;
    text-align: center;
    clear: both;
  }

  header nav>ul li {
    width: 25%;
    margin: 0.5em 0.25em;
  }
}

/*// Nav Styling For Desktop //*/

#logo-container {
  display: inline;
  float: left;
  z-index: 2;
}

#logo {
  width: 8em;
  height: 6.5em;
  background: transparent;
}

#logo-container>h3 {
  font-family: 'Satisfy', cusive;
  font-size: 2.75em;
  color: #dc8a6a;
  margin-top: 0.7em;
}

nav {
  display: inline;
  position: relative;
  background-color: #fff;
  z-index: 1;
}

nav>ul {
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7em;
  font-weight: bold;
  margin-top: 0.5em;
  margin-right: 2em;

}

header>nav>ul li {
  float: left;
  margin-top: 0em;
  margin-left: 0.75em;
}

header>nav>ul li a {
  color: #66bcdc;
}

/*// Hero and Tagline //*/

#herotron {
  width: 100%;
  height: 30em;
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#herotron>p {
  position: relative;
  left: 50%;
  top: 0.5em;
  width: 100%;
  transform: translateX(-50%);

  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  color: #dedede;
  background-color: transparent;
  background-color: rgba(75, 75, 75, 0.2);
}

/*/// Featured Products ///*/

#featured {
  font-family: 'Open Sans', sans-serif;
  margin-top: 12em;
}

#featured>div>h1 {
  font-weight: bold;
}

#featured>div>p {
  text-align: justify;
  font-size: 1.3em;
}

/*// Product Information //*/
#products div img {
  max-width: 100%;
  max-height: 100%;
}

#products div {
  font-family: 'Open Sans', sans-serif;
}

#products div h2 {
  font-size: 2.15em;
}

/*/// Services Aside ///*/

aside {
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}

aside>h1 {
  font-weight: bold;
}

aside h4 {
  color: #66bcdc;
  font-weight: bold;
  margin-top: 1.25em;
}

aside p {
  font-weight: lighter;
  font-size: 1.15em;
}

/*// Footer Styling //*/

footer {
  position: relative;
  height: 12em;
  background-color: #333333;
}

footer>img {
  height: 4em;
  width: 6em;
  margin-top: 4em;
  margin-right: 0.5em;
  margin-left: 0em;
}

.foot-container {
  position: relative;
  height: 8em;
  border-left: 0.15em groove #777;
  margin-top: 2.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em;

  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

/*// Footer Styling for Desktop //*/

@media only screen and (min-width: 705px) {
  .foot-container {
    width: 15em;
    border-left: 0.15em groove #777;
    margin-left: 5em;
    padding-left: 0.5em;
    padding-top: 1em;
    margin-top: 2.5em;
  }

  footer>img {
    height: 6em;
    width: 8em;
    margin-top: 3em;
    margin-left: 2em;
    margin-right: -1em;
  }
}
